

@{
    ViewBag.Title = "Create";
}

<h2>Create Retailer</h2>
<form action="/Retailer/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="RetailerName" />
    </div>
    
    <div>
        <input type="submit" value="Create Retailer" />

    </div>
</form>

