*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background: #ce7965;
}

ul{
    list-style: none;
}
header{
    background: black;
    color:antiquewhite;
    text-align: right;

}


h2{
    display: inline-block;
    padding: 15px;
    font-size: 30px;

}

li{
    display: inline;
}

a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 25px;
    padding-right: 20px;
    font-weight: bold;
}
footer{
    background: dimgrey;
    padding-left: 10px;
}




